:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 1440px;
  position: relative;
  padding: 0px;
  background-image: url("./images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #FF7979;
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
  }
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  height: 100%;
  display: block;
}

main .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
}
@media screen and (min-width: 1200px) {
  main .container {
    flex-direction: row;
  }
}
main .container .content {
  max-width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
@media screen and (min-width: 1200px) {
  main .container .content {
    max-width: 525px;
  }
}
main .container .content .title {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.292px;
}
@media screen and (min-width: 1200px) {
  main .container .content .title {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.521px;
    text-align: left;
  }
}
main .container .content .description {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
@media screen and (min-width: 1200px) {
  main .container .content .description {
    text-align: left;
  }
}
main .container .form-wrapper .trial {
  width: 327px;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 10px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  line-height: 26px; /* 173.333% */
  letter-spacing: 0.268px;
  background: #5E54A4;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
}
main .container .form-wrapper .trial span {
  font-weight: 700;
}
@media screen and (min-width: 1200px) {
  main .container .form-wrapper .trial {
    width: 540px;
    padding: 16px 0;
  }
}
main .container .form-wrapper form {
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
@media screen and (min-width: 1200px) {
  main .container .form-wrapper form {
    width: 540px;
  }
}
main .container .form-wrapper form input {
  width: 279px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  background: #FFF;
  padding: 5px 20px;
}
@media screen and (min-width: 1200px) {
  main .container .form-wrapper form input {
    width: 460px;
  }
}
main .container .form-wrapper form button {
  width: 279px;
  height: 56px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #38CC8B;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 1px;
}
@media screen and (min-width: 1200px) {
  main .container .form-wrapper form button {
    width: 460px;
  }
}
main .container .form-wrapper form .termsConds {
  color: #BAB7D4;
  text-align: center;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
main .container .form-wrapper form .termsConds span {
  color: #FF7979;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
main .container .form-wrapper form .error-icon {
  margin-top: -46px;
  margin-right: -413px;
  height: 20px;
  z-index: 999;
  display: none;
}
main .container .form-wrapper form .error-message {
  color: #F96464;
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  padding-right: 31px;
  margin-top: 10px;
  text-align: right;
  width: 100%;
  display: none;
}
main .container .form-wrapper form .placeholder-color {
  color: #F96464;
}/*# sourceMappingURL=style.css.map */